<!DOCTYPE html>
<html lang="en">
  <head>
     <title>FoodExpress</title>
      <%- include("__bootstrap.ejs")%>
  </head>

  <body>
     <footer class="bg-success text-white pt-4 pb-2 mt-5">
  <div class="container">
    <div class="row text-center text-md-start">

      <div class="col-md-4 mb-4">
        <h4>🍔 FoodExpress</h4>
        <p>Delivering your favorite meals fresh & fast right at your doorstep!</p>
      </div>

      <div class="col-md-4 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">Home</a></li>
          <li><a href="/menu" class="text-white text-decoration-none">Menu</a></li>
          <li><a href="/about" class="text-white text-decoration-none">About Us</a></li>
          <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      
      <div class="col-md-4 mb-4">
        <h5>Contact Us</h5>
        <p>Email: support@foodexpress.com</p>
        <p>Phone: +91-9876543210</p>
        <p>Location: Indore, MP, India</p>
      </div>
    </div>

    
    <div class="text-center border-top pt-3">
      <p class="mb-0">&copy; 2025 FoodExpress. All rights reserved.</p>
    </div>
  </div>
</footer>


  </body>
</html>
