<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Food Delivery</title>
     <%-include("__bootstrap.ejs")%>
    
</head>
<body>
     <%-include("__header.ejs")%>
     <%-include("forntpage.ejs")%>
     <%-include("__footer.ejs")%>
</body>
</html>